<!-- Franja superior blanca -->
<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-left text-center-xs">
        <strong>Síguenos</strong> &nbsp;
        <a href="https://www.instagram.com/cpi.nissi/?igsh=cWZ0ajVxejJpb2Yy#" target="_blank">Instagram</a> &nbsp;
        <a href="https://web.facebook.com/people/Nissi/61580357096755/" target="_blank">Facebook</a>
      </div>
      <div class="col-xs-12 col-sm-4 text-center hidden-xs">
        <i class="fa fa-clock-o"></i> Lunes a Viernes 9:00 am a 18:00 pm
      </div>
      <div class="col-xs-12 col-sm-4 text-right text-center-xs">
        <i class="fa fa-map-marker"></i> 2 Ote. & C. 1 Sur, Talca
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="background: black;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Logo en vez de título -->
      <a class="navbar-brand page-scroll" href="#page-top">
        <img src="{{ site.logo }}" alt="{{ site.title }}" class="logo-navbar">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                <li><a class="page-scroll" href="#page-top">Inicio</a></li>
        <li><a class="page-scroll" href="#services">Servicios</a></li>
        <li><a class="page-scroll" href="#noticias">Publicaciones</a></li>
        <li><a class="page-scroll" href="#prestaciones">Prestaciones</a></li>
        <li><a class="page-scroll" href="#team">Equipo</a></li>
        <li><a class="page-scroll" href="#contact">Ubicación</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-cta">
        <li>
          <a class="btn btn-primary btn-reserva"
             href="https://s4.philaxmed.cl/ReservaOnline.html?mc=centro_pediatrico_integral_nissi#_">
            <i class="fa fa-calendar"></i> Reservar Hora
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in logo-container">
        <img src="img/logo.png" alt="Logo" class="logo-intro-absolute">
      </div>
    </div>
  </div>
</header>